 <!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3">Home Books Management System.</h1>
                            <p class="lead fw-normal text-muted mb-5">Keep records of your readings and share the lessons</p>
                            
                        </div>



                                <% if user_signed_in? %>
                                <%= link_to "View Books", books_path, class: "btn btn-primary" %>
                                <%= link_to "My Books", books_path(my_books: true), class: "btn btn-secondary" %>
                                <% else %>
                                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
                                <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
                                <% end %>




                    </div>
                    <div class="col-lg-6">
                        <!-- Masthead device mockup feature-->
                        <%= image_tag "a-book.png" %>
                    </div>
                </div>
            </div>
        </header>



    <div class="container mt-5">
        <h1 class="display-4">Recent Added Books</h1>
                        <div id="books">
                    <div class="row">
                    <% @books.each do |book| %>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <% if book.cover.attached? %>
                                <%= image_tag book.cover, class: "img-thumbnail", alt: book.title %>
                        <% else %>
                            <p>No cover image uploaded</p>
                        <% end %>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-12">
                            <h3 class="text-primary"><%= link_to book.title, book %></h3>
                

                    <p class="text-muted"><strong><%= book.subtitle %></strong></p>


                <p>
                    <strong>Isbn:</strong>
                    <%= book.isbn %>

                <p>
                    <strong>Author:</strong>
                    <%= book.author %>
                </p>

                <p>
                    <strong>Category:</strong>
                    <%= book.category.name %>
                </p>

                <p>
                    <strong>Published date:</strong>
                    <%= book.published_date %>
                
                </p>

                


                        

                        <p>
                        <%= link_to "Show this book", book %>
                        
                        </p> 
                        <hr />
                    </div>
                    
                    <% end %>
                    </div>
                    

                </div>
    </div>







