<div id="<%= dom_id book %>">
  <p>
    <!-- <strong>Title:</strong> -->
    <h3 class="text-primary"><%= link_to book.title, book %></h3>
  </p>

    <p class="text-muted"><strong><%= book.subtitle %></strong></p>
/p>

  <p>
    <strong>Isbn:</strong>
  

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.category.name %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= book.published_date %>
  <  <%= book.isbn %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= book.summary %>
  </p>

</div>
