<div class="container">
<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>
<% if user_signed_in? %>
  <%= link_to "Add a Book", new_book_path, class: "btn btn-success" if user_signed_in? %>
<% end %>

<h1 class="display-3">My Books</h1>

  <div id="books">
    <div class="row">
      <% @books.each_with_index do |book, index| %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <a href="<%= url_for(book.cover) if book.cover.attached? %>" target="_blank" class="text-decoration-none">
            <div class="d-flex align-items-center border p-3">
              <% if book.cover.attached? %>
                <div class="me-3">
                  <%= image_tag book.cover, class: "img-thumbnail", alt: book.title, style: "width: 150px; height: auto;" %>
                </div>
              <% else %>
                <div class="me-3">
                  <p class="text-center">No cover image uploaded</p>
                </div>
              <% end %>
              <div>
                <h5 class="text-primary"><%= link_to book.title, book %></h5>
                <p class="text-muted"><strong><%= book.subtitle %></strong></p>
                <p><strong>ISBN:</strong> <%= book.isbn %></p>
                <p><strong>Author:</strong> <%= book.author %></p>
                <p><strong>Category:</strong> <%= book.category.name %></p>
                <p><strong>Published Date:</strong> <%= book.published_date %></p>
                <%= link_to "Show this book", book, class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          </a>
        </div>
        <% if (index + 1) % 3 == 0 %>
          </div><div class="row">
        <% end %>
      <% end %>
    </div>
  </div>




<% if user_signed_in? %>
  <%= link_to "Add a Book", new_book_path, class: "btn btn-success" %>
<% end %>

</div>