<%= form_with(model: [@book, @review]) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">

      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :content, class: "form-label" %>
        <%= form.textarea :content, class: "form-control", rows: 6 %>
      </div>

      <div class="mb-3">
        <%= form.label :rating, class: "form-label" %>
        <%= form.number_field :rating, class: "form-control" %>
      </div>


      <div>
        <%= form.submit "submit", class:"btn btn-primary" %>
      </div>
    <% end %>
    </div>

</div>


